.assistant_main_panel {
  background: var(--primary-background-color);
  position: absolute;
  left: 280px;
  top: 58px;
  width: calc(100vw - 312px);
  bottom: 0px;
  padding: 14px;
}

.assistant_chat_panel {
  position: absolute;
  top: 0px;
  bottom: 65px;
  overflow-y: auto;
}

.assistant_input_panel {
  position: absolute;
  bottom: 14px;
  width: 97%;
}

.assistant_chat_human {
  background-color: transparent;
}

.assistant_chat_ai {
  background-color: darkgray;
}

.assistant_chat_message {
  margin-left: 33px;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 14px;
}

.assistant_profile_pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.assistant_message_text {
  margin-left: 6px;
  position: relative;
  top: 2px;
}