:root {
  font-family: Google Sans,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* 
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  --primary-color: #3367d6;
  --secondary-color: rgb(33,
      150,
      243, 0);
  --primary-text-color: rgb(95, 99, 104);
  --primary-light-color: #d3e3fd;
  --secondary-light-color: #f1f3f4;
  --primary-background-color: white;
  --secondary-background-color: #f1f3f4;

  color: #404040;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background: #f1f3f4;
}

a {
  user-select: none;
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #222;
}

a:hover {
  text-decoration: none;
  color: darkgray
}

a:active {
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  /* border-radius: 8px;
  padding: 0.4em 0.8em;
  font-size: 14px;
  font-weight: 600;
  font-family: inherit;
  background-color: #dfdfdf;
  color: #646464;
  cursor: pointer;
  transition: border-color 0.25s;
  border: 4px solid #959595; */
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  background-color: var(--primary-color);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
  margin-right: 14px;
  margin-top: 8px;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.standard_main_panel {
  background: var(--primary-background-color);
  position: absolute;
  left: 280px;
  top: 58px;
  width: calc(100vw - 312px);
  bottom: 0px;
  padding: 14px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;
  flex-flow: column;
}

.standard_main_panel_header {
  width: 100%;
  font-size: 28px;
}

.standard_main_paragraph {
  max-width: 784px;
  margin-bottom: 10px;
  border-radius: 14px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 2px;
  /* border: 1px #eee solid; */

}

.standard_main_paragraph:hover {
  background: var(--secondary-light-color);
  cursor: default;
}

.topbar {
  margin-top: 56px !important;
}

.standard_main_table {
  border-collapse: collapse;
  margin: 8px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
  width: 100%;
}

.standard_main_table thead tr {
  background-color: #4e4e4e00;
  color: #606060;
  text-align: left;
  border-bottom: 2px solid #6a6a6a;
}

.standard_main_table th,
.standard_main_table td {
  padding: 12px 15px;
}

.standard_main_table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.standard_main_table tbody tr:hover {
  background-color: var(--secondary-light-color);
  cursor: pointer;
}

/* .styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
} */

.standard_main_table tbody tr:last-of-type {
  /* border-bottom: 2px solid #6a6a6a; */
}

/* .styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
} */

.popup_dialog {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  background-color: #6c6c6cb3;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup_dialog_content {
  position: absolute;
  top: 40px;
  bottom: 40px;
  width: 90%;
  max-width: 704px;
  background: white;
  margin: auto;
  border: 1px #eee solid;
  border-radius: 24px;
  font-size: 14px;
  padding: 28px;
  overflow-y: auto;
}

.popup_dialog_content h1 {
  font-size: 24px;
}