.main_experiment_panel {
  background: var(--primary-background-color);
  position: absolute;
  left: 280px;
  top: 58px;
  width: calc(100vw - 312px);
  bottom: 0px;
  padding: 14px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;
  flex-flow: column;
}

.main_experiment_panel_header {
  width: 100%;
  font-size: 28px;
}

.main_panel_description {
  margin-top: 14px;
  width: 100%;
}

.experiment_panel {
  margin-top: 24px;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;
}

.experiment_menu {
  width: 100%;
  text-align: center;
}

.experiment_menu_panel_item {
  padding-top: 4px;
  display: inline-flex;
  position: relative;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  border-radius: 24px 24px 24px 24px;
  font-size: 14px;
  text-align: left;
  height: 30px;
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 4px;
}

.experiment_menu_panel_item:hover {
  background-color: #f1f3f4;
}

.experiment_menu_panel_item_selected {
  background-color: #d3e3fd !important;
  /* font-weight: 500; */
}

.experiment_menu_panel_item_icon {
  width: 24px;
  margin-left: 12px;
  position: relative;
  top: -2px;
}

.experiment_menu_panel_item_text {
  position: relative;
  top: 1px;
  margin-left: 4px;
  margin-right: 18px;
}

.experiment_detail_panel {
  width: 100%;
  flex-grow: 1;
  display: flex;
}

.experiment_detail_table {
  width: 100%;
}

.regulatory_panel {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
}

.regulatory_docs_header_panel {
  flex: 0 1 auto;
}

.regulatory_docs_panel {
  margin-top: 14px;
  width: 100%;

  flex: 1 1 auto;
  display: flex;
  flex-flow: row;
}

.regulatory_docs_menu_panel {
  flex: 0 1 220px;
}

.regulatory_menu_panel_item {
  padding-top: 4px;
  display: inline-flex;
  position: relative;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  border-radius: 1px;
  font-size: 14px;
  width: 94%;
  text-align: left;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  border: 1px solid var(--secondary-light-color);
}

.regulatory_docs_editor_panel {
  /* width: 100%;
  height: 100%; */
  flex: 1 1 auto;
}

.regulatory_docs_editor {
  width: 100%;
  height: 100%;
  /* width: calc(100% - 70px);
  height: calc(100% - 70px);
  border: 1px solid var(--secondary-light-color);
  font-family: Google Sans,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 35px; */
}

.regulatory_docs_editor iframe {
  width: 100%;
  height: 100%;
}