.project_new_main_panel {
  background: var(--primary-background-color);
  position: absolute;
  left: 280px;
  top: 58px;
  width: calc(100vw - 280px);
  /* max-width: calc(100vw - 282px); */
  bottom: 0px;

}

.project_new_main_panel_content {
  /* width: calc(100% - 28px); */
  width: 404px;
  padding: 14px;
  position: absolute;
  overflow-y: auto;
  top: 0px;
  bottom: 60px;
}

.project_new_generated_button {
  position: relative;
  top: -5px;
  background: white;
}

.project_new_main_panel_header {
  width: 100%;
  font-size: 28px;
  padding-bottom: 8px;
}

.project_new_gen_description_panel {
  padding-top: 12px;
}

.project_new_generated_description {
  padding-top: 18px;
}

.project_new_generated_text {
  padding-top: 8px;
  /* max-height: 400px;
  overflow-y: auto; */
}

.project_new_gen_button_icon {
  width: 24px;
  height: 24px;
}

.bottom_buttons_panel {
  height: 60px;
  width: 100%;
  /* border-left: solid 1px rgba(242, 242, 242, 1); */
  background-color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.environment_location_select {
  margin-top: 14px;
  margin-bottom: 14px;
  /* border: 2px solid gray; */
  width: 400px;
  border: 2px solid #2F80ED;
  outline: none;
  border-radius: 6px;
}

.environment_location_select_label {
  font-size: 14px;
  position: relative;
  color: #2F80ED;
  background-color: white;
  top: -12px;
  left: 6px;
  width: 60px;
  padding: 0 4px;
  transition: all 0.2s ease-in;
  pointer-events: none;
}

.project_new_duet_thinking_icon {
  position: absolute;
  width: 36px;
  /* top: 20px; */
  left: 390px;
  z-index: 2;
}