.main_menu {
  width: 280px;
  display: block;
  position: absolute;
  z-index: 2;
  top: 58px;
  bottom: 0;
  overflow-y: auto;
  background-color: #fff;
  /* border-right: 1px solid rgba(0, 0, 0, 0.12); */
  box-sizing: border-box;
}

.main_menu_create_button {
  display: flex;
  /* justify-content: center; */
  border-radius: 28px;
  padding: 16px;
  height: 52px;
  margin-bottom: 14px;
  margin-top: 20px;
  margin-left: 27px;
  width: 225px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  /* text-align: center; */
  min-width: 64px;
  line-height: normal;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  font-weight: 500;
}

.main_menu_create_icon {
  position: relative;
  left: 8px;
  top: -2px;
}

.main_menu_create_text {
  position: relative;
  top: -8px;
  left: 28px;
}

.main_menu_panel {
  width: 100%;
  margin-top: 12px;
}

.main_menu_panel_item {
  /* width: 100%; */
  margin-top: 4px;
  padding-top: 4px;
  margin-left: 12px;
  margin-right: 12px;
  /* text-align: center; */
  cursor: pointer;
  background-color: transparent;
  border-radius: 24px;
  font-size: 14px;
}

.main_menu_panel_item:hover {
  background-color: #f1f3f4;
}

.main_menu_panel_item_selected {
  background-color: #d3e3fd !important;
  font-weight: 500;
}

.main_menu_panel_item_icon {
  position: relative;
  left: 48px;
}

.main_menu_panel_item_text {
  position: relative;
  top: -8px;
  left: 58px;
}