.input_field_panel {
  --padding: 8px;
  --focus-color: rgb(61, 87, 255);
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 14px;
  /* width: 404px; */
  width: 100%;
}

.input_field {
  font-family: Google Sans,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  padding: var(--padding);
  border: 2px solid gray;
  outline: none;
  border-radius: 6px;
  /* background-color: #f1f3f4; */
  background-color: white;
  width: 100%;
}

.input_field_placeholder {
  position: absolute;
  top: 6px;
  /* background-color: #f1f3f4; */
  background-color: white;
  color: gray;
  left: var(--padding);
  padding: 0 4px;
  transition: all 0.2s ease-in;
  pointer-events: none;
}

.input_field:is(:focus, :valid) {
  border: 2px solid var(--primary-color);
}

.input_field:is(:focus, :valid)+.input_field_placeholder {
  transform: translatey(calc(-1 * var(--padding) - 11px)) translatex(-4px);
  font-size: 14px;
  color: var(--primary-color);
}

.input_field_help {
  position: fixed;
  z-index: 1;
  /* top: 44px;
  left: 10px; */
  width: 225px;
  border-radius: 3px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px 0px;
  border: 1px solid rgb(242, 242, 242);
  border-radius: 4px;
  width: 325px;
  pointer-events: none;
}

.input_field_help_panel {
  background-color: white;
  position: relative;
  top: -15px;
  z-index: 3;
  padding: 8px;
}

.input_field_help_panel_arrow {
  position: relative;
  top: -12px;
  left: -8px;
  z-index: 1;
  border: 1px solid rgb(242, 242, 242);
  box-shadow: rgba(0, 0, 0, 0.15) -1px -1px 1px -1px;
  transform: rotate(45deg) translate(16px, 16px);
  background: rgb(255, 255, 255);
  height: 14px;
  width: 14px;
  display: block;
  content: "";
  pointer-events: none;
}

.input_field_help_button {
  position: absolute;
  right: 54px;
  bottom: 8px;
  width: 40px;
  height: 40px;
  background-color: lightgrey;
  border: 1px;
}

.input_field_gen_button {
  position: absolute;
  right: 8px;
  bottom: 8px;
  width: 40px;
  height: 40px;
  background-color: lightgrey;
  border: 1px;
}