.project_delete_button {
  position: absolute;
  top: 5px;
  right: 25px;
  /* opacity: .7; */
}

.reg_doc_table {
  border: 1px solid;
  margin-bottom: 44px;
}

.reg_doc_table tr {
  border: 1px solid;
}

.reg_doc_table td {
  padding: 6px;
  border: 1px solid;
}

.reg_doc_title {
  font-size: 24px;
  width: 100%;
  text-align: center;
  margin-bottom: 32px;
  font-weight: bold;
}