.main_panel {
  background: var(--primary-background-color);
  position: absolute;
  left: 280px;
  top: 58px;
  width: calc(100vw - 312px);
  /* max-width: calc(100vw - 282px); */
  bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  padding: 14px;
  align-items: flex-start;
  align-content: flex-start;
  overflow-y: auto;
}

.main_panel_header {
  width: 100%;
  font-size: 28px;
}

.main_panel_item {
  /* display: flex; */
  width: 220px;
  height: 180px;
  margin: 14px;
  border-radius: 24px;
  background-color: white;
  padding: 12px;
}

.main_panel_item:hover {
  background: var(--secondary-light-color);
  cursor: pointer;
}

.main_panel_item_header1 {
  margin-top: 8px;
  margin-bottom: 14px;
  width: 100%;
  font-weight: 600;
}

.main_panel_item_header2 {
  width: 100%;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin-bottom: 2px;
}